body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* div{
  width: 100%;
} */
input{
  position: absolute;
  /* width: 98%; */
  resize: none;
  height: inherit;
  border: none;
  outline: none;
  height: 20px;
  padding:0;
  margin: 0;
  z-index: 222;
}
input:focus{
  /* width: 98%; */
  border: none;
  outline: none;
}
td{
  position: relative;
}
/* span{
  min-width: 100%;   
  position: absolute;

  top:0;
  resize: none;
  height: inherit;
  border: none;
  min-height: inherit;
  padding:0;
  margin: 0;
  z-index: 222;

}
span:focus{
  border: none;
} */
.overlayDiv {
  position: absolute;
  display: none;
  border: 1px solid rgb(14, 112, 249);
  /* background-color: white; */
  /* pointer-events: none;  */
  z-index: 99999;
}
.overlayDiv:focus{
  border: 2px solid rgb(14, 112, 249);
}
#canvasContainer {
  position: relative;
}
.cellDecorationIcons{
  padding: 10px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
}
.cellDecorationIcons:hover{
  background-color: antiquewhite;
  border-radius: 5px;
}